[Unit]
Description=Service for xtrabackup full backup and cleanup
Wants=xtrabackup_incremental.timer

[Service]
Type=oneshot

# Full backup
ExecStart=/etc/systemd/system/xtrabackup_full_increment_restore.sh full

# Cleanup
ExecStart=/etc/systemd/system/xtrabackup_full_increment_restore.sh cleanup

[Install]
WantedBy=multi-user.target
