[Unit]
Description=Service for xtrabackup full backup and cleanup
Wants=xtrabackup_incremental.timer

[Service]
Type=oneshot

# Full backup
ExecStart=/backup/xtrabackup_scripts/xtrabackup_full_incremental_restore_cleanup.sh full

# Cleanup
ExecStart=/backup/xtrabackup_scripts/xtrabackup_full_incremental_restore_cleanup.sh cleanup

[Install]
WantedBy=multi-user.target
